$large-width: 1350px;
$medium-width: 875px;
$small-width: 500px;
$primary-color: #F26970;

.header {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .round {
    color: #fff;
    background: rgb(121, 23, 88);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
  }

  .logo {
    height: 40px;
    justify-self: center;
  }

  .user {
    display: flex;
    justify-self: right;

    .help {
      margin-right: 5px;
    }

    .player {
      color: #fff;
      background: rgb(121, 23, 88);
      padding: 10px;
      border-radius: 5px;
      width: fit-content;
    }
  }
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 15px;
  align-items: center;
  height: calc(100vh - 40px - 30px);
  overflow: scroll;

  @media (max-width: $medium-width) {
    grid-template-columns: 1fr;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.game-container {
  display: grid;
  column-gap: 25px;
  justify-content: center;
  justify-self: center;
  grid-template-columns: auto 1fr auto;

  @media (max-width: $large-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $small-width) {
    width: 100%;
  }
}

.waiting {
  grid-column: 1 / span 2;
  justify-self: center;
}

.card {
  padding: 20px;
  background: rgb(255, 241, 252);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media (max-width: $small-width) {
    padding: 10px;
  }
}

.card.players-card {
  padding: 5px;

  &.team-1 {
    grid-column: 1;
    grid-row: 2;

    @media (max-width: $large-width) {
      margin-top: 25px;
      grid-column: 1;
      grid-row: 3;
    }
  }

  &.team-2 {
    grid-column: 3;
    grid-row: 2;

    @media (max-width: $large-width) {
      margin-top: 25px;
      grid-column: 2;
      grid-row: 3;
    }
  }
}

.card-container {
  grid-column: 2;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 2em;
  font-weight: bold;
  color: #500131;
  margin-bottom: 5px;
  text-align: center;
  margin: 10px 0 30px 0;

  @media (max-width: $small-width) {
    margin: 0 0 20px 0;
  }
}

.start-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .player-item {
    color: #666;
    font-size: 15px;

    &.ready {
      color: #000;
      font-weight: 500;
    }
  }
}

.form-input {
  min-width: 15em;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 75px;
  justify-items: center;
  width: 100%;

  @media (max-width: $small-width) {
    column-gap: 20px;
  }

  .team-title {
    grid-row: 1;
  }

  .players {
    grid-row: 2;
    margin-bottom: 10px;
  }

  .button-container {
    margin-top: 15px;
    grid-row: 3;
  }
}

.start {
  grid-column: 1 / span 2;
  margin-top: 20px;
  justify-self: center;
}

.btn-row {
  margin-top: 15px;
}

.title {
  height: 3em;
  grid-column: 2;
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;

  @media (max-width: $large-width) {
    grid-column: 1 / span 2;
  }

  h1 {
    font-size: 2em;
    font-weight: 500;

    @media (max-width: $small-width) {
      margin: 0;
    }
  }
}

.message-input {
  padding: 10px 0 10px 0;

  input {
    height: 2em;
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;

    &:focus {
      border: 2px solid black;
    }
  }
}

.player-container {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;

  @media (max-width: $small-width) {
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    app-button {
      margin-top: 15px;
    }
  }

  .messages {
    margin-left: 15px;
    width: 200px;
  }
}

.game-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .word, .hint {
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
  }

  .word {
    padding: 10px;
    background-color: $primary-color;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
  }
}

.play-area {
  min-height: 400px;
  min-width: 550px;

  @media (max-width: $large-width) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  @media (max-width: $medium-width) {
    min-width: 475px;
  }

  @media (max-width: $small-width) {
    min-width: 0px;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  &.skipped {
    background: grey;
  }

  &.correct {
    background: green;
  }

  &.wrong {
    background: $primary-color;
  }
}

.overlay-title {
  font-size: 4em;
  font-weight: bold;
  color: #0f0f0f;
}

.game-updates {
  grid-row: 1;
  grid-column: 2;

  h3 {
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
  }

  @media (max-width: $medium-width) {
    display: none;
  }

  @media (max-height: 800px) {
    align-self: start;
  }
}

.game-link {
  color: #fff;
  margin-bottom: 20px;

  input {
    margin-right: 10px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 280px;
  }
}
