<div class="box">
  <img class="logo" src="../../../assets/images/taboo.svg" alt="logo" class="logo">
  <div class="form">
    <form [formGroup]="startForm" (submit)="createGame()">
      <div>
        <mat-form-field class="form-input">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput placeholder="Rounds" formControlName="rounds">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput placeholder="Turn Time (s)" formControlName="turnTime">
        </mat-form-field>
      </div>
      <div class="center">
        <app-button [disabled]="startForm.invalid" type="submit">Create game</app-button>
      </div>
    </form>
  </div>
</div>
