<div class="container">
  <div class="start-container" *ngIf="game?.state === 'waiting'">
    <div class="team-container">
      <div class="team-title"><h2>Team 1</h2></div>
      <div class="players">
        <div class="player-item" *ngFor="let player of game.team1">{{player.name}}</div>
      </div>
      <div class="button-container"><button mat-raised-button (click)="joinTeam(1)">Join</button></div>
      <div class="team-title"><h2>Team 2</h2></div>
      <div class="players">
        <div class="player-item" *ngFor="let player of game.team2">{{player.name}}</div>
      </div>
      <div class="button-container"><button mat-raised-button (click)="joinTeam(2)">Join</button></div>
    </div>
  </div>
  <div class="playing-container" *ngIf="game?.state === 'playing'">
    <div *ngIf="!myTeam">
      <div class="center"><h3>Player should not say</h3></div>
      <div class="card">
        <div class="hint" *ngFor="let hint of game.word?.hints">{{ hint }}</div>
      </div>
    </div>

    <div *ngIf="myTurn">
      <div class="center"><h2>You're Up!</h2></div>
      <div class="player-container">
        <div class="card">
          <div class="word">{{ game.word?.word }}</div>
          <div class="hint" *ngFor="let hint of game.word?.hints">{{ hint }}</div>
        </div>
        <div *ngIf="myTeam" class="message-container">
          <div class="messages" #messageListElement>
            <p *ngFor="let m of messageList">{{m}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!myTurn && myTeam">
      <h3>Guess!</h3>
      <div *ngIf="myTeam" class="message-container">
        <div class="messages" #messageListElement>
          <p *ngFor="let m of messageList">{{m}}</p>
        </div>

        <div>
          <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()">
          <button mat-raised-button (click)="sendMessage()">Guess</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="game?.state === 'between_round'">
    <h2>Between Rounds</h2>
    <div *ngIf="myTurn">
      <button mat-raised-button (click)="startMyTurn()">Let's Go</button>
    </div>
  </div>
</div>

<div *ngIf="game?.state === 'waiting'">
  <div class="start">
    <button mat-raised-button (click)="startGame()">Start Game</button>
  </div>
</div>


<div>
  <button *ngIf="myTurn" mat-raised-button (click)="skipTurn()">Skip My Turn</button>
</div>

