<div *ngIf="game?.state === 'waiting'">
  <button mat-raised-button (click)="joinTeam(1)">Team 1</button>
  <button mat-raised-button (click)="joinTeam(2)">Team 2</button>

  <h2>Team 1</h2>
  <div *ngFor="let player of game.team1">
    <p>{{player.name}}</p>
  </div>

  <h2>Team 2</h2>
  <div *ngFor="let player of game.team2">
    <p>{{player.name}}</p>
  </div>

  <button mat-raised-button (click)="startGame()">Start Game</button>
</div>

<div *ngIf="game?.state === 'playing'">
  <h2>Playing Game</h2>

  <div *ngIf="myTeam">
    <h3>My Team is playing</h3>
  </div>

  <div *ngIf="!myTeam">
    <h3>My Team is not playing</h3>
    <p>Player is trying to get word: {{ game.word?.word }}</p>
    <p>Cannot Say</p>
    <div *ngFor="let hint of game.word?.hints">
      <p>{{ hint }}</p>
    </div>
  </div>

  <div *ngIf="myTurn">
    <h3>It's my turn</h3>
    <p>The word is {{ game.word?.word }}</p>
    <p>Cannot Say</p>
    <div *ngFor="let hint of game.word?.hints">
      <p>{{ hint }}</p>
    </div>
    <button mat-raised-button (click)="skipTurn()">Skip My Turn</button>
  </div>

  <div *ngIf="!myTurn">
    <h3>It's not my turn</h3>
  </div>

  <div *ngFor="let m of messageList">
    <p>{{m}}</p>
  </div>

  <div *ngIf="myTeam && !myTurn">
    <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()">
    <button mat-raised-button (click)="sendMessage()">Guess</button>
  </div>

</div>

<div *ngIf="game?.state === 'between_round'">
  <h2>Between Rounds</h2>
  <div *ngIf="myTurn">
    <button mat-raised-button (click)="startMyTurn()">Let's Go</button>
  </div>
</div>


