:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-container {
  display: grid;
  column-gap: 25px;
}

.card {
  padding: 20px;
  background: rgb(255, 241, 252);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card.players-card {
  padding: 5px;
}

.card-container {
  grid-column: 2;
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 2em;
  font-weight: bold;
  color: #500131;
  margin-bottom: 5px;
  text-align: center;
  margin: 10px 0 30px 0;
}

.start-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  min-width: 15em;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  min-width: 500px;

  .team-title {
    grid-row: 1;
  }

  .players {
    grid-row: 2;
    margin-bottom: 10px;
  }

  .button-container {
    grid-row: 3;
  }
}

.start {
  grid-column: 2;
  margin-top: 20px;
  justify-self: center;
}

.btn-row {
  margin-top: 15px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  grid-column: 2;
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;

  h1 {
    font-size: 2em;
    font-weight: 500;
  }
}

.messages {
  height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.player-container {
  display: flex;

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 10px;
    }
  }

  .messages {
    margin-left: 15px;
    width: 200px;
  }
}

.game-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .word, .hint {
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
  }

  .word {
    padding: 10px;
    background-color: #F26970;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
  }
}

.skip-turn {
  position: absolute;
  right: 0;
  bottom: 0;
}
